@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,800&display=swap');

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, cite, code, img, small, strike, strong, sub,
sup, tt, var, b, u, i,
ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;
}

ul, li, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #F1F2F6;
    padding: 15px;
    box-shadow: 0 4px 8px -6px black;
}

.title {
    font-size: 52px;
    font-weight: 600;
}

.book-count p {
    margin-top: 5px;
}

.library {
    padding: 15px;
    background-color: #AEB8FE;
}

.add-book {
    padding: 15px;
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #758BFD;
    border-radius: 10px;
}

.popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 15px;
    z-index: 10;
    width: 270px;
    background-color: #f0eef1;
    display: none;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.popup-header h2 {
    margin-left: auto;
    font-size: 22px;
    font-weight: 600;
}

.popup-header button {
    margin-left: auto;
}

.popup ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.popup ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

input[type='checkbox'] {
    width: 15px;
}

.popup input {
    padding: 5px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    height: 30px;
}

label {
    font-size: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup .submit {
    background-color: #9fff9c;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    width: 90%;
    margin-top: 15px;
}

.popup .submit:hover {
    background-color: #6ed46b;
}

.close {
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    font-size: 1.25rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.errorMessage {
    display: none;
    background-color: rgb(216, 63, 63);
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    width: 82%;
    margin-top: 15px;
    color: white;
    text-align: center;
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
}